<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">
  <body>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
      <!--[if !IE 8]><!-->
        <link rel="stylesheet" href="/static/stylesheets/govuk-frontend-4.6.0.min.css">
      <!--<![endif]-->
      <!--[if IE 8]>
        <link rel="stylesheet" href="/stylesheets/govuk-frontend-ie8-4.6.0.min.css">
      <![endif]-->


    </head>


    <body class="govuk-template__body ">
      <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
      </script>
      <!-- component HTML -->
      <script src="/static/javascript/govuk-frontend-4.6.0.min.js"></script>
      <script>
        window.GOVUKFrontend.initAll()
      </script>
      {% block content %}
      {% endblock %}
    </body>

    <footer>
      <img class="logo" src="/static/images/i-dot-ai-logo.svg" alt="i.AI" />

    </footer>
  </body>
</html>